.profile-card {
  border-radius: 10px;
  padding: 16px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: #ffdbdb;
}

.profile-card h2 {
  margin-bottom: 8px;
  font-size: 1.3rem;
}

.profile-card p {
  color: #555;
  font-size: 1rem;
}
